<div class="container-fluid">

    <!-- Selector -->
    <div class="dropdown no-arrow mb-4" style="display: inline-block;">
        <select class="btn btn-secondary dropdown-toggle" id="sessionDropdown">
            <option value="sesion1">Estadisticas</option>
            <option value="sesion2">Lista de tiempos</option>
        </select>
    </div>

    <div class="row">

    <!-- Mejor tiempo -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Mejor tiempo</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800"> {{pb}} </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Mejor ao5 -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Mejor promedio</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ao5}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Mejor ao12 -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                            Mejor ao12</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ao12}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- avg -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            Promedio</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{avg}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

</div>


<div class="col-xl-12 col-lg-12">
    <div class="card shadow mb-4">
        <div
            class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Tus tiempos a traves del tiempo</h6>
        </div>
        
        <div class="card-body">
            <div class="chart-area">
                <canvas id="myAreaChart" width="400" height="200"></canvas>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
    const prom = {{{info}}};

    const validTiempos = prom.filter(item => item.valido);

    const labels = validTiempos.map((_, index) => (index + 1).toString());
    const tiempos = validTiempos.map(item => item.tiempo);
    const fechas = validTiempos.map(item => item.fecha);
    const mezclas = validTiempos.map(item => item.mezcla);

    const tiemposConvertidos = tiempos.map(tiempo => {
        const tiempoSegundos = tiempo / 1000;
        return tiempoSegundos;
    });

    const promedioHastaPosicion = [];
    let sumatoria = 0;
    for (let i = 0; i < tiemposConvertidos.length; i++) {
        sumatoria += tiemposConvertidos[i];
        const promedio = sumatoria / (i + 1);
        promedioHastaPosicion.push(promedio);
    }

    const ctx = document.getElementById("myAreaChart").getContext("2d");
    const chart = new Chart(ctx, {
        type: "line",
        data: {
            labels: labels,
            datasets: [
                {
                    label: "Tiempos",
                    data: tiemposConvertidos,
                    backgroundColor: "rgba(78, 115, 223, 0.05)",
                    borderColor: "rgba(78, 115, 223, 1)",
                    pointRadius: 3,
                    pointBackgroundColor: "rgba(78, 115, 223, 1)",
                    pointBorderColor: "rgba(78, 115, 223, 1)",
                    pointHoverRadius: 3,
                    pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
                    pointHoverBorderColor: "rgba(78, 115, 223, 1)",
                    pointHitRadius: 10,
                    pointBorderWidth: 2,
                    tension: 0.2
                },
                {
                    label: "Promedio",
                    data: promedioHastaPosicion,
                    backgroundColor: "rgba(255, 99, 132, 0.05)",
                    borderColor: "rgba(255, 99, 132, 1)",
                    pointRadius: 3,
                    pointBackgroundColor: "rgba(255, 99, 132, 1)",
                    pointBorderColor: "rgba(255, 99, 132, 1)",
                    pointHoverRadius: 3,
                    pointHoverBackgroundColor: "rgba(255, 99, 132, 1)",
                    pointHoverBorderColor: "rgba(255, 99, 132, 1)",
                    pointHitRadius: 10,
                    pointBorderWidth: 2,
                    tension: 0.2
                }
            ]
        },
        options: {
            scales: {
                x: {
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: "Posici칩n"
                    }
                },
                y: {
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: "Tiempo (segundos)"
                    }
                }
            },
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                tooltip: {
                    callbacks: {
                        title: function (context) {
                            const index = context[0].dataIndex;
                            const fecha = new Date(fechas[index]);

                            const dia = fecha.getDate();
                            const mes = fecha.getMonth() + 1; 
                            const a침o = fecha.getFullYear();

                            const fechaFormateada = dia + '/' + mes + '/' + a침o;

                            return fechaFormateada;
                        },
                        label: function (context) {
                            const index = context.dataIndex;
                            const tiempo = tiemposConvertidos[index];
                            const mezcla = mezclas[index];

                            const tiempoFormateado = tiempo.toFixed(2) + ' segundos';
                            const mezclaFormateada = 'Mezcla: ' + mezcla;

                            return [tiempoFormateado, mezclaFormateada];
                        }

                    }
                }
            }
        }
    });

    // Ajustar tama침o del canvas al contenedor
    const container = document.querySelector(".chart-area");
    const canvas = chart.canvas;
    canvas.style.width = container.clientWidth + "px";
    canvas.style.height = container.clientHeight + "px";
});
</script>